<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Scrap engineer</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min1.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min1.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/elegant-icons1.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/nice-select1.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/jquery-ui.min1.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min1.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/slicknav.min1.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/style1.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-space-dynamic.css">
    <link rel="stylesheet" href="/static/assets/css/animated.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
	<style>
		table {
		    width: 30px;

	}
	input {display: block;}
	input.total {margin-top: 30px;}
	.textInput2
	{
	width: 170px;
	color: #000000;
	margin-top: 0px;
	margin-left: 5px;
	height:100px;
	padding-top:0px;
	vertical-align:top;
	}
	.fakey {
	    border: solid 1px;
	    color: #ccc;
	    font-family: sans-serif;
	    font-size: .9em;
	}

	.fakey input {
	    border: none;
	    outline: none;
	    font-family: sans-serif;
	    font-size: .9em;
	    width: 200px;
	}
	</style>

</head>

<body>


  </div>
  <header class="header-area header-sticky wow slideInDown">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <h4><span>Scrap engineer</span></h4>

            </a>

            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>

              <li class="scroll-to-section"><a href="#contact"></a></li>
            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
   <!-- Checkout Section Begin -->



   <section class="checkout spad">
       <div class="container">


           <div class="checkout__form">
             <br>
             <br>

             <br>
             <br>
            <center> <h4>Product Details</h4></center>
               <form action="#">
                   <div class="row">

                       <div class="col-lg-8 col-md-6">
                           <div class="row">
                               <div class="col-lg-6">
                                   <div class="checkout__input">

                                        <h4>Product<span>*</span></h4>
                                        <!-- Dropdown -->
                                        <select id='selUser' style='width: 200px;'>
                                        </select>
                                        <div id='result'></div>
                                   </div>
                               </div>
                               <div class="col-lg-6">
                                   <div class="checkout__input">

                                      <h4>Rate<span>*</span></h4>
                                      <p id="product-rice"></p>
                                   </div>
                               </div>
                           </div>

                           <div class="checkout__input">
                               <h4>Quatity<span>*</span></h4>
                               <input type="number" id="quantity" name="quantity" min="1">
                           </div>
							<br>
                            <div class="checkout__input">
                                <h4>price<span>*</span></h4>
                                <input type="number" id="price" readonly>
                            </div>
         <center>    <input type="button" class="site-btn" onClick="add()" value="Add"/></center>
         <br>
          <br>
                       </div>
                       <div class="col-lg-4 col-md-7">
                           <div class="checkout__order">
                              <center>  <h4>Your Order</h4> </center>

                               <div class="checkout__order__products">Products <span>Qty</span></div>
                               <ul id="list">
                               </ul>

                               <div class="checkout__input__checkbox">

                               </div>
                               <p>.........................................................................................................

                                   .........................................................................................................</p>
                              <div class="checkout__order__products">Total<span id = "total"></span></div>
                              <p>........................................................................................................

                                  ........................................................................................................</p>

	                     <center>


						 <br>



						 </form>






							   <br>
								    <button type="submit" class="site-btn">Clear</button>
                           </div>
                       </div>
                   </div>
               </form>
           </div>
              </div>
       </div>
   </section>
</body>
   <script src="/static/assets/js/bootstrap.min1.js"></script>
   <script src="/static/assets/js/mixitup.min1.js"></script>
   <script src="/static/assets/js/owl.carousel.min1.js"></script>
   <script src="/static/assets/js/main1.js"></script>
   <script>
       let data = {
           "Select Product":0,
           "Newspaper":10,
           "Iron":12,
           "Hand written notes":10,
           "Mixed plastic":5,
           "Cardboard":4,
           "Aluminium":65,
           "Brass":200,
           "Copper":300,
           "Stainless steel":23,
           "Ac (1.5TON)":1700,
           "Ac (1 TON)":1300,
           "Fridge (Single door)":400,
           "Fridge (Double door)":600,
           "Washing machine(Top load)":380,
          "Washing machine(Front load)":600,
              "Motor and pump":23,
              "E-Waste":8,
             "BATTERY":45,
             "CPU":150,
             "Books":8,
             "LCD & LED TV":75,
             "Insulated wire":40,
             "Toys":2,
              "Glass bottle":3,
       }

       var billInfo = []
       function optionProuct(){
           let base =''
           for(let key in data){
            base+=`<option value='${data[key]}'>${key}</option>`
           }
           $("#selUser").append(base)
       }

       function showBill(){
           let base = ''
           let total = 0
           billInfo.map(function(row){
            base+=`<li>${row.product}<span>${row.quatity}</span></li>`
            total+=row.total_price;
           })

           $("#list").html(base);
           $("#total").html(total)
       }

       function add(){
           billInfo.push({
               "product": $('#selUser option:selected').text(),
               "quatity": $('#quantity').val(),
               "total_price": parseInt($("#price").val())
           })
           showBill()
       }
        $(document).ready(function(){
            optionProuct()
            // Initialize select2
            $("#selUser").select2();

            // Read selected option
            $('#selUser').on("change",function(){
                let price = $('#selUser').val();
                $("#product-rice").html(price)
            });

            //quanitey
            $("#quantity").on("input", function(){
                let price = parseInt($('#selUser').val());
                let quality = parseInt($('#quantity').val());

                $("#price").val(price*quality)
            })
        });

   </script>
   <script>
   var doc = new jsPDF();
   var specialElementHandlers = {
       '#editor': function (element, renderer) {
           return true;
       }
   };

   $('#cmd').click(function () {
       doc.fromHTML($('#content').html(), 15, 15, {
           'width': 170,
               'elementHandlers': specialElementHandlers
       });
       doc.save('sample-file.pdf');
   });
 </script>
</html>
